{% extends "UsignoloBundle::layout.html.twig" %}

{% block content %}
    <section>
        <h2>Issue creation</h2>

        {{ form(form) }}

        <ul class="record_actions">
            <li><a href="{{ path('issue') }}">Back to the list</a></li>
        </ul>
    </section>
{% endblock %}
