{% extends "::base.html.twig" %}

{% block body %}
    <h1>Usignolo</h1>

    <ul id="issues-list">
        {% for issue in issues %}
        <li>{{ issue.title }}</li>
        {% endfor %}
    </ul>

    <ul>
        <li>
            <a href="{{ path('issue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
