{% extends "UsignoloBundle::layout.html.twig" %}

{% block content %}
    <section>
        <h2>Dashboard</h2>

        <ul id="issues-list">
            {% for issue in issues %}
                <li>{{ issue.title }}</li>
            {% endfor %}
        </ul>

        <ul>
            <li><a href="{{ path('issue_new') }}">Create a new entry</a></li>
            <li><a href="{{ path('issue') }}">View all</a></li>
        </ul>
    </section>
{% endblock %}
